<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form>
        <div class="details">
            <label for="fullname">Name</label><br>
        <input type="text" id="fullname" name="fullname" placeholder="Name"><br>
        Gender : &nbsp;&nbsp;
        <input type="radio" id="male" name="gender" value="Male">
          <label for="Male">Male</label>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="radio" id="female"  name="gender" value="Female">
          <label for="html">Female</label><br><br>
        <label for="age">Age</label><br>
        <input type="number" id="age" placeholder="Age"><br><br>
    
    
    
        <p>Total Value : INR </p>
        <button type="submit" value="Submit" (click)="add_payment()">PROCEED TO PAY</button>
        </div>
        
    
    </form>
</body>
</html>
