<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>


    <!-- CSS only -->


    <style>
        body {
            /* background-image: url("image/1628626.jpg"); */
            
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>

</head>

<body>
    <!-- <div >
        <img src="{{myVar}}">
    </div> -->
    <div class="topnav">
        <a [routerLink]="['']">Home</a>
        <a [routerLink]="['/ticket_booking']">Book Ticket</a>
        
        <div class="topnav-right">
          <a [routerLink]="['/login']">Sign in</a>
          <a [routerLink]="['/signup']">Sign up</a>
        </div>
      </div>
    <!-- <nav>
        <ul>
            
            <li><a [routerLink]="['']">Home</a></li>
            <li><a [routerLink]="['/ticket_booking']">Booking</a></li>

        </ul>
        <div class="li_right">
            <ul>
                <li style="text-align: right;"><a [routerLink]="['/login']">Sign in</a> </li>
                <li style="text-align: right;"><a [routerLink]="['/signup']">Sign up</a></li>
               

            </ul>
        </div> -->

     
            <router-outlet></router-outlet>
       

    
    
    
</body>

</html>