<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form>
        <div class="details">
            <label for="email">Email</label><br>
        <input type="email" id="email" name="email" placeholder="Email"><br>
        <label for="mo_number">Phone</label><br>
        <input type="number" id="mo_number" name="mo_number" placeholder="Phone"><br>
        <label for="no_of_seat">Number of seats</label><br>
        <input type="number" id="no_of_seat" name="no_of_seat" placeholder="Seats"><br>




        <button type="submit" id="add_details" (click)="add_details()">PROCEED TO PAY</button>
        
        </div>
        

    </form>
</body>

</html>